{% load i18n %}
{% load formtags %}

<p>{% trans "Specify disk properties:" %}</p>

<form method="post" action="">
	{% csrf_token %}
	
	<div class="center">
		{% show_fieldsetform form %}
	</div>

    <p>{% trans "Free storage space:" %} {{ free }} (MB)</p>
	
	<div class="clear"></div>
	<div class="dialog_button_area">
		<button type="submit" class="ok-button mid_button">{% trans "Add disk" %}</button>
		<button type="button" class="cancel-button mid_button">{% trans "Cancel" %}</button>
	</div>
</form>
