{% load i18n %}
<ul class="topnav">
	<li class="menu-item">
		<a href="{% url 'admin_clm' %}">{% trans "CLM administrator panel" %}</a>
	</li>
{% if request.session.user.is_admin_clm %}	
	<li class="menu-item">
		<a href="{% url 'clm_users' %}">{% trans "Users" %}</a>
	</li>
	<li class="menu-item">
		<a href="{% url 'clm_cms' %}">{% trans "Cluster Managers" %}</a>
	</li>
{% else %}
	<li class="menu-item">
		<a href="{% url 'mai_main' %}">{% trans "CC1 home page" %}</a>	
	</li>
{% endif %}  
</ul>
