{% extends "admin_clm/base.html" %}
{% load i18n %}
{% load formtags %}

{% block title %}{% trans "User's account data" %} - {{ block.super }}{% endblock %}

{% block breadcrumb %}
	{{ block.super }}
	<li><span class="bc-arrow"></span></li>
	<li><a href="{% url 'clm_users' %}">{% trans "Users" %}</a></li>

	<li><span class="bc-arrow"></span></li>
	<li><a href="#">{% trans "User's account data" %}</a></li>
{% endblock %}

{% block men_div_name %}nav_users{% endblock %}

{% block box_title %}
	{% trans "User's account data" %}
{% endblock %}

{% block box_content %}
<script type="text/javascript">/*<![CDATA[*/
cc1.sthTable = null;

$(function() {
	cc1.sthTable = cc1.makeSthTable({
		destDiv : '#user-data',
		template : '#rowTemplate',
		urlGetData : '{% url 'clm_ajax_get_user_data' 0 %}'.replace('0', {{ user_id }}),
	});
	// dialog zmiany hasla CM admina
	cc1.sthTable.accountDataEdit =  cc1.utils.createAction({
		url: '{% url 'clm_ajax_edit_user_data' 0 %}',
		dialogTitle: '{% trans "Edit data" %}',
	});
});
/*]]>*/</script>

<div id="user-data">
	<script id="rowTemplate" type="text/x-jquery-tmpl">
	<fieldset class="noBorder">
		<div>
			<span class="labels">
				<label>{% trans "Username:" %}</label>
			</span>
			<span class="inputs text">
				${login}
			</span>
		</div>
		<div>
			<span class="labels">
				<label>{% trans "Name and surname:" %}</label>
			</span>
			<span class="inputs text">
				${first} ${last}
			</span>
		</div>
		<div>
			<span class="labels">
				<label>{% trans "Email:" %}</label>
			</span>
			<span class="inputs text">
				${email}
			</span>
		</div>
		<div>
			<span class="labels">
				<label>{% trans "Organization:" %}</label>
			</span>
			<span class="inputs text">
				${organization}
			</span>
		</div>
	</fieldset>

	<fieldset class="noBorder align_center">
		<a class="big_button" onclick="cc1.sthTable.accountDataEdit( ${user_id} );">{% trans "Edit account data" %}</a>
	</fieldset>

	<div class="clear"></div>
	</script>
	<div class="ajax_loader1">&nbsp;</div>
</div>
{% endblock %}