{% extends "account/base.html" %}
{% load i18n %}
{% load formtags %}
{% load templatetags %}

{% block title %}{% trans "Account quotas" %} - {{ block.super }}{% endblock %}

{% block breadcrumb %}
	{{ block.super }} 
	<li><span class="bc-arrow"></span></li>
	<li><a href="#">{% trans "Account quotas" %}</a></li>
{% endblock %}

{% block men_div_name %}nav_account_quotas{% endblock %}

{% block box_title %}
	{% trans "Account quotas" %}
{% endblock %}

{% block box_content %}
<script type="text/javascript">/*<![CDATA[*/
cc1.sthTable = null;

$(function() {
	cc1.sthTable = cc1.makeSthTable({
		destDiv : '#user-data', 
		template : '#rowTemplate', 
		urlGetData : '{% url 'acc_ajax_get_user_quotas' %}'
	});
		
	// dialog z wykresami
	cc1.sthTable.showCharts = cc1.utils.createAction({
		url: '{% url 'acc_ajax_account_charts' %}', 
		dialogTitle: '{% trans "Point usage" %}',
		dialogWidth: 700,
		dialogClass: 'info',
	});
});
/*]]>*/</script>

<div id="user-data">
	<script id="rowTemplate" type="text/x-jquery-tmpl">
	<fieldset class="noBorder">
		<div>
			<span class="labels"> <label>{% trans "Cpu:" %}</label> </span>
			<span class="inputs text"> ${used_cpu} / ${cpu} </span>
		</div>
		<div>
			<span class="labels"> <label>{% trans "Memory:" %}</label> </span>
			<span class="inputs text"> ${used_memory} / ${memory} </span>
		</div>
		<div>
			<span class="labels"> <label>{% trans "Storage:" %}</label> </span>
			<span class="inputs text"> ${used_storage} / ${storage} </span>
		</div>
		<div>
			<span class="labels"> <label>{% trans "Public IPs:" %}</label> </span>
			<span class="inputs text"> ${used_public_ip} / ${public_ip} </span>
		</div>
		<div>
			<span class="labels"> <label>{% trans "Points:" %}</label> </span>
			<span class="inputs text"> 
				${used_points} / ${points}
				<span class="tooltip" title="{% trans "Point count / point limit - Point count is set to 0 at the beginning of each month. Should you exceed the point limit a warning box will be generated and you will not be able to create new virtual machine instaces."%}"></span> 
			</span>
		</div>
	</fieldset>
	
	<fieldset class="noBorder align_center">
		<a class="big_button" onclick="cc1.sthTable.showCharts();">{% trans "Point usage chart" %}</a>
	</fieldset>
	
	<div class="clear"></div>
	</script>
	<div class="ajax_loader1">&nbsp;</div>
</div>

{% endblock %}