{% extends "base_one_column.html" %}
{% load i18n %}
{% load formtags %}

{% block title %}{% trans "Password Reset" %} - {{ block.super }}{% endblock %}

{% block box_title %}{% trans "Password reset" %}{% endblock %}

{% block box_content %}

{% if mailer_active %}

    <p>
    	{% trans "Forgotten your password? Enter your e-mail address below, and we&rsquo;ll reset your password and e-mail the new one to you." %}
    </p>
    <form method="post" action="">
		{% csrf_token %}
        {% show_fieldsetform_nrf form %}
        <div class="fieldset align_center">
        	<input class="big_button" type="submit" value="{% trans "Reset my password" %}" />
        </div>
    </form>

{% else %}
	<p> {% trans "Mailer is disabled. Contact email: " %} {{ contact_email }} </p>
{% endif %}

{% endblock %}