{% extends "base_one_column.html" %}
{% load i18n %}
{% load formtags %}

{% block title %}{% trans "Password Reset" %} - {{ block.super }}{% endblock %}

{% block box_title %}{% trans "Password reset" %}{% endblock %}

{% block box_content %}
<script type="text/javascript">/*<![CDATA[*/
$(function() {
	$("#reset-password-form").validate({
		rules: {
			new_password1: { minlength: 5},
			new_password2: { equalTo: "#id_new_password1"}
		}
	});
});
/*]]>*/</script>

<form method="post" action="" id="reset-password-form">
	{% csrf_token %}
    {% show_fieldsetform_nrf form %}
    <div class="fieldset align_center"> 
    	<input class="big_button" type="submit" value="{% trans "Change my password" %}" />
    </div>
</form>
{% endblock %}
