{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password Change Successful" %} - {{ block.super }}{% endblock %}

{% block breadcrumb %}
	{{ block.super }} 
	<li><span class="bc-arrow"></span></li>
	<li><a href="#">{% trans "Password change" %}</a></li>
{% endblock %}

{% block men_div_name %}nav_account_change_passwd{% endblock %}

{% block box_title %}{% trans "Password changed" %}{% endblock %}

{% block box_content %}
    <p class="success">{% trans "Your password has been changed." %}</p>
{% endblock %}
