{% extends "account/base.html" %}
{% load i18n %}
{% load formtags %}

{% block title %}{% trans "Change password" %} - {{ block.super }}{% endblock %}

{% block breadcrumb %}
	{{ block.super }}
	<li><span class="bc-arrow"></span></li>
	<li><a href="#">{% trans "Change password" %}</a></li>
{% endblock %}

{% block men_div_name %}nav_account_change_passwd{% endblock %}

{% block box_title %}{% trans "Change password" %}{% endblock %}

{% block box_content %}
<script type="text/javascript">/*<![CDATA[*/
$(document).ready(function() {
	$("#change-password-form").validate({
		rules: {
			new_password1: { minlength: 5},
			new_password2: { equalTo: "#id_new_password1"}
		}
	});
});
/*]]>*/</script>
<p>
	{% trans "Please enter your old password, for security&rsquo;s sake, and then enter your new password twice so we can verify you typed it in correctly." %}
</p>
<form method="post" action="" id="change-password-form">
	{% csrf_token %}
    {% show_fieldsetform form %}
    <div class="fieldset align_center">
    	<input class="big_button" type="submit" value="{% trans "Change my password" %}" />
    </div>
</form>
{% endblock %}
