{% extends "base_one_column.html" %}
{% load i18n %}

{% block title %}{% trans "Error" %}{% endblock %}

{% block breadcrumb %}
	{{ block.super }}
	<li><span class="bc-arrow"></span></li>
	<li><a href="{% url 'acc_password_reset' %}">{% trans "Password reset" %}</a></li>
{% endblock %}

{% block box_width %}w500{% endblock %}

{% block box_title %}
	{% trans "Bad token" %}
{% endblock %}

{% block box_content %}
    <p>
	{% trans "Token is not valid. (It's either broken or used)" %}
		<br>
		<a href="{% url 'acc_password_reset' %}"> {% trans "Create new token" %} </a>
	</p>
{% endblock %}