{% load i18n %}
{% load formtags %}

<form method="post" action="">

	<div id="flotChart"></div>
	<div id="overviewChart"></div>
	
	<div class="clear"></div>
	<div class="dialog_button_area">		
		<button type="button" class="cancel-button mid_button">{% trans "Close" %}</button>
	</div>
</form>

<script type="text/javascript">
$(function () {
	var chartDiv = $('#flotChart'),
		overviewDiv = $('#overviewChart'),
	fetchData = function(response) {
		var points = response.data['points'],
			threshold = response.data['limit'],
			data = null,
			plot = null,
			options = null,			
			dateStart, dateEnd,
			drawAnnotations = function(xpos) {
				var o = plot.pointOffset({ x: xpos, y: threshold});
				chartDiv.append('<div style="position:absolute;left:' + (o.left + 5) + 'px;top:' + (o.top - 19) + 'px;color:#a44;font-size:smaller">{% trans "monthly point limit" %}</div>');
			};
			
		for (var i=0; i<points.length; i++) {
			points[i][0] = points[i][0] * 1000;
		}
		var a = ( points[points.length-1][1] - points[points.length-2][1] ) / ( points[points.length-1][0] - points[points.length-2][0] ),
			b = points[points.length-1][1] - a * points[points.length-1][0];

		dateStart = new Date(points[0][0]);
		if (dateStart.getMonth() === 11) {
			dateEnd = new Date(dateStart.getYear() + 1, 0, 1);
		} else {
			dateEnd = new Date(1900 + dateStart.getYear(), dateStart.getMonth() + 1, 1);
		}
		dateEnd = (new Date(dateEnd.setHours(0))).setMinutes(0);
		
		data = [{
	    	data: points,
	    	color: '#0f0',
	        //threshold: { below: threshold + 0.001, color: '#f00'},
	    }];
		
	    options = {
	        lines: { show: true },
	        points: { show: true },
	        xaxis: {
	        	max: dateEnd,
	        	mode: 'time',
	        	monthNames: [gettext('Jan'), gettext('Feb'), gettext('Mar'), gettext('Apr'), gettext('May'), gettext('Jun'), gettext('Jul'), gettext('Aug'), gettext('Sep'), gettext('Oct'), gettext('Nov'), gettext('Dec')], 
	        },
	        yaxis: { min: 0, max: Math.max( 1.06*threshold, 1.06*points[points.length-1][1]), autoscaleMargin: 0.1 },
	        grid: {
	            backgroundColor: { colors: ["#f4f4f4", "#fff"] },
	            hoverable: true,
	            autoHighlight: false,
	            markings: [
	            	{ color: '#a44', yaxis: { from: threshold, to: threshold } },
	            ],
	        },
	        selection: { mode: 'x' },
	        legend: {
	        	show: false
	        }
	    };
	    
	 	// threshold not reached?
		if (points[points.length-1][1] < threshold) {
		    data.push({
		    	data: [ 
		    	        points[points.length-1], 
		    	        [ isNaN(a)? dateEnd : (threshold - b)/a, isNaN(a)? points[points.length-1][1] : threshold]
		    	      ],
		    	color: '#ccf',
		    	label: 'prediction',
		    	clickable: false,
		    	hoverable: false,
		    	points: { show: false },
		    	shadowSize: 1,
		    });
		    options.grid.markings.splice(0,0,{ color: '#e6e6f6', xaxis: { from: points[points.length-1][0], to: dateEnd } });
		}
	    
	    plot = $.plot(chartDiv, data, options);
	    drawAnnotations(points[0][0]);
	    
	    // overview chart
	    var overview = $.plot(overviewDiv, [{data: points, color: '#0f0'}], {
	        series: {
	            lines: { show: true, lineWidth: 1 },
	            shadowSize: 0
	        },
	        xaxis: { ticks: [], mode: 'time', max: dateEnd },
	        yaxis: { ticks: [], min: 0, autoscaleMargin: 0.1 },
	        selection: { mode: 'x' }
	    });
	
	    // now connect the two
	    chartDiv.bind('plotselected', function (event, ranges) {
	        plot = $.plot(chartDiv, data,
	                      $.extend(true, {}, options, {
	                          xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to }
	                      }));
	        drawAnnotations(ranges.xaxis.from);
	        // don't fire event on the overview to prevent eternal loop
	        overview.setSelection(ranges, true);
	    });
	    
	    overviewDiv.bind('plotselected', function (event, ranges) {
	        plot.setSelection(ranges);
	        drawAnnotations(ranges.xaxis.from);
	    });
	    
	    // tooltips
	    var previousPoint = null;
	    chartDiv.bind('plothover', function (event, pos, item) {
            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;
                    
                    $('#chartTooltip').remove();
        			
                    $('<div id="chartTooltip">' + points[item.dataIndex][2] + '</div>').css( {
                        top: item.pageY + 5,
                        left: item.pageX + 8,
                    }).appendTo('body').fadeIn(200);
                }
            } else {
            	$('#chartTooltip').remove();
                previousPoint = null;
            }
	    });
	};
	
    $.ajax({ type: 'GET', url: '{% url 'acc_ajax_charts_points' %}', success: fetchData });    
});
</script>