{% load i18n %}
<ul class="topnav">
	<li class="menu-item">
		<a href="{% url 'cma_admin' %}">{% trans "CM-Admin" %}</a>
	</li>
{% if request.session.user.is_logged_admin_cm %}
	<li class="menu-item">
        <a href="{% url 'cma_vms' %}">{% trans "Machines" %}</a>
        <ul class="subnav">
			<li><a href="{% url 'cma_vms' %}">{% trans "Virtual Machines" %}</a></li>
			<li><a href="{% url 'cma_farms' %}">{% trans "Farms" %}</a></li>
        </ul>
    </li>
    <li class="menu-item">

    </li>
    <li class="menu-item">
        <a href="{% url 'cma_users' %}">{% trans "Users" %}</a>
    </li>
    <li class="menu-item">
        <a href="{% url 'cma_images' %}">{% trans "Images" %}</a>
        <ul class="subnav">
			<li><a href="{% url 'cma_images' %}">{% trans "VM images" %}</a></li>
			<li><a href="{% url 'cma_disks' %}">{% trans "Storage disks" %}</a></li>
			<li><a href="{% url 'cma_iso' %}">{% trans "ISO images" %}</a></li>
        </ul>
    </li>
    <li class="menu-item">
    	<a href="{% url 'cma_networks' %}">{% trans "Networks" %}</a>
    	<ul class="subnav">
			<li><a href="{% url 'cma_networks' %}">{% trans "Users networks" %}</a></li>
			<li><a href="{% url 'cma_pools' %}">{% trans "Available pools" %}</a></li>
			<li><a href="{% url 'cma_publicips' %}">{% trans "Public IPs" %}</a></li>
        </ul>
    </li>
    <li class="menu-item">
    	<a href="{% url 'cma_nodes' %}">{% trans "Hardware" %}</a>
    	<ul class="subnav">
			<li><a href="{% url 'cma_nodes' %}">{% trans "Nodes" %}</a></li>
			<li><a href="{% url 'cma_storages' %}">{% trans "Storages" %}</a></li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="{% url 'cma_templates' %}">{% trans "Templates" %}</a>
    </li>

{% else %}
	<li class="menu-item">
		<a href="{% url 'mai_main' %}">{% trans "CC1 home page" %}</a>	
	</li>	
{% endif %}
</ul>
