{% extends "admin_cm/base.html" %}
{% load i18n %}
{% load formtags %}

{% block title %}{% trans "Users networks" %} - {{ block.super }}{% endblock %}

{% block breadcrumb %}
	{{ block.super }}
	<li><span class="bc-arrow"></span></li>
	<li><a href="#">{% trans "Show networks" %}</a></li>
{% endblock %}

{% block men_div_name %}nav_admin_cm_networks{% endblock %}

{% block box_title %}
	{% trans "Users networks" %}
{% endblock %}

{% block help_icon %}
{% endblock %}

{% block help_box %}
{% endblock %}

{% block auto_refresh %}
    {% trans "Auto refresh" %} <input type="checkbox"/>
{% endblock %}

{% block box_content %}
<script type="text/javascript">/*<![CDATA[*/
cc1.sthTable = null;

$(function() {
    var localIdKey = 'network_id';
	cc1.sthTable = cc1.makeSthTable({
		destDiv : '#item-list',
		template : '#rowTemplate',
		urlGetData : '{% url 'cma_networks_ajax_get_table' 0 %}'.replace('0', $('#filter').val()),
		detailsUrl : '{% url 'cma_networks_ajax_network_details' 0 %}',
		detailsDiv : '#vm_details',
		contextFun : function(itemData) {
            return {
                callback: function(key, options) {
                	switch (key) {
                		case 'details':
                			cc1.sthTable.openDetails(itemData[localIdKey], itemData[localIdKey] === cc1.sthTable.getOpenedId() );
                		break;
		        		case 'remove':
							cc1.sthTable.removeNetwork(itemData[localIdKey]);
		        		break;
                	}
                },
                items: {
                    'details'	: {name: '<b>{% trans "Show details" %}</b>', icon:'magnify' },
                    'remove'	: {name: '{% trans "Remove network" %}', icon:'delete'}
                }
            };
		},
		leftClickMenu : '.action_button',
		autoRefreshTime : 60000,
		showSearchBox: true,
		overTable: '#over-table',
		enableSorting: true,
		sortingColumnIndex: 1,
		sortingDescending: true,
        idKey: localIdKey,
	});
	// dialog usuwania puli
	cc1.sthTable.removeNetwork = cc1.utils.createAction({
		url: '{% url 'cma_ajax_remove_network' 0 %}',
		dialogTitle: '{% trans "Remove network" %}',
		calculateParams: function(id) {
			return {'desc': cc1.sthTable.getItemById(id).name };
		},
		dialogClass: 'warning'
	});

	$('#filter').change(function(){
		cc1.sthTable.setUrlGetData(  '{% url 'cma_networks_ajax_get_table' 0 %}'.replace('0', $('#filter').val()) );
		cc1.sthTable.loadData();
	});
});
/*]]>*/</script>

<div id="over-table">
	<div id="category-changer">
		<span>{% trans "Network owner" %}:</span>
		<span>
			<select id="filter">
				<option value="0">{% trans "All users" %}</option>
				{% for user in all_users %}
				<option value="{{ user.user_id }}">{{ user.user_id }} - {{ user.first }} {{ user.last }}</option>
				{% endfor %}
			</select>
		</span>
	</div>
</div>

<table id="item-list" class="tab w100pc context_menu">
	<thead class="thead">
		<tr>
			<td>{% trans "Owner" %}</td>
			<td>{% trans "ID" %}</td>
			<td>{% trans "Name" %}</td>
			<td>{% trans "Address" %}</td>
			<td>{% trans "Usage" %}</td>
			<td class="noSort"> {% trans "Actions" %} </td>
		</tr>
	</thead>

	<tbody class="tbody">
		<script id="rowTemplate" type="text/x-jquery-tmpl">
		<tr data-id="${network_id}" class="rclick">
			<td>
				<a onclick='location.href = "{% url 'clm_user_account' 0 %}".replace("0", ${user_id});'> ${owner} </a>
			</td>
			<td> ${network_id} </td>
			<td> ${name} </td>
			<td> ${address}/${mask} </td>
			<td> ${used_leases}/${total_leases} </td>
			<td>
				<div id="action${id}" class="action_button"></div>
			</td>
		</tr>
		</script>
		<tr>
			<td colspan="6">
				<div class="ajax_loader1">&nbsp;</div>
			</td>
		</tr>
	</tbody>

	<tfoot class="tfoot">
		<tr>
			<td colspan="6" class="table_bottom_actions">
			</td>
		</tr>
	</tfoot>
</table>
{% endblock %}

{% block box_extra %}
<div id="vm_details" class="b_greyWhiteStroke"> </div>
{% endblock %}