{% extends "admin_cm/base.html" %}
{% load i18n %}
{% load formtags %}

{% block title %}{% trans "Available pools" %} - {{ block.super }}{% endblock %}

{% block breadcrumb %}
	{{ block.super }}
	<li><span class="bc-arrow"></span></li>
	<li><a href="#">{% trans "Available pools" %}</a></li>
{% endblock %}

{% block men_div_name %}nav_admin_cm_pools{% endblock %}

{% block box_title %}
	{% trans "Available pools" %}
{% endblock %}

{% block box_content %}
<script type="text/javascript">/*<![CDATA[*/
cc1.sthTable = null;

$(function() {
    var localIdKey = 'pool_id';
	cc1.sthTable = cc1.makeSthTable({
		destDiv : '#item-list',
		template : '#rowTemplate',
		urlGetData : '{% url 'cma_ajax_get_pool_table' %}',
		contextFun : function(itemData) {
			var items = {
            	'delete'	: {name: '{% trans "Delete" %}', icon: 'delete'},
            };
		    if (itemData.state === 0) {
		    	items['lock'] = {name: '{% trans "Lock" %}', icon: 'password'};
		    }
		    if (itemData.state === 1) {
		    	items['unlock'] = {name: '{% trans "Unlock" %}', icon: 'password'};
		    }
		    return {
		        callback: function(key, options) {
		        	switch (key) {
		        		case 'delete':
							cc1.sthTable.deletePool(itemData[localIdKey]);
		        		break;
		        		case 'unlock':
							cc1.sthTable.unlockPool(itemData[localIdKey]);
		        		break;
		        		case 'lock':
							cc1.sthTable.lockPool(itemData[localIdKey]);
		        		break;
		        	}
		        },
                items: items
		    };
		},
		leftClickMenu : '.action_button',
		enableSorting: true,
		showSearchBox: true,
		overTable: '#over-table',
        idKey: localIdKey,
	});
	// dialog dodania puli
	cc1.sthTable.addPool = cc1.utils.createAction({
		url: '{% url 'cma_ajax_add_pool' %}',
		dialogTitle: '{% trans "Add pool" %}',
		dialogWidth: 500,
	});
	// dialog usuwania puli
	cc1.sthTable.deletePool = cc1.utils.createAction({
		url: '{% url 'cma_ajax_delete_pool' 0 %}',
		dialogTitle: '{% trans "Delete pool" %}',
		calculateParams: function(id) {
			return {'desc': cc1.sthTable.getItemById(id).address + '/' + cc1.sthTable.getItemById(id).mask };
		},
		dialogClass: 'warning'
	});
	// dialog zablokowania puli
	cc1.sthTable.lockPool = cc1.utils.createAction({
		url: '{% url 'cma_ajax_lock_pool' 0 %}',
		dialogTitle: '{% trans "Lock pool" %}',
		calculateParams: function(id) {
			return {'desc': cc1.sthTable.getItemById(id).address + '/' + cc1.sthTable.getItemById(id).mask };
		},
	});
	// dialog odblokowania puli
	cc1.sthTable.unlockPool = cc1.utils.createAction({
		url: '{% url 'cma_ajax_unlock_pool' 0 %}',
		dialogTitle: '{% trans "Unlock pool" %}',
		calculateParams: function(id) {
			return {'desc': cc1.sthTable.getItemById(id).address + '/' + cc1.sthTable.getItemById(id).mask };
		},
	});

});
/*]]>*/</script>

<div id="over-table"></div>

<table id="item-list" class="tab w100pc context_menu">
	<thead class="thead">
		<tr>
			<td> {% trans "ID" %} </td>
			<td> {% trans "Address" %} </td>
			<td> {% trans "Mask" %} </td>
			<td> {% trans "State" %} </td>
			<td class="noSort"> {% trans "Actions" %} </td>
		</tr>
	</thead>
	<tbody class="tbody">
		<script id="rowTemplate" type="text/x-jquery-tmpl">
		<tr data-id="${pool_id}" class="rclick">
			<td> ${pool_id} </td>
		   	<td> ${address} </td>
			<td> ${mask} </td>
			<td> ${stateName} </td>
			<td>
				<div id="action${id}" class="action_button"></div>
			</td>
		</tr>
		</script>
		<tr>
			<td colspan="5">
				<div class="ajax_loader1">&nbsp;</div>
			</td>
		</tr>
	</tbody>
	<tfoot class="tfoot">
		<tr>
			<td colspan="5" class="table_bottom_actions">
				<ul>
                    <li class="icon_add">
						<a onclick="cc1.sthTable.addPool();">{% trans "Add pool" %}</a>
					</li>
				</ul>
			</td>
		</tr>
	</tfoot>
</table>
{% endblock %}