{% extends "admin_cm/base.html" %}
{% load i18n %}
{% load formtags %}
{% load templatetags %}

{% block title %}{% trans "Users" %} - {{ block.super }}{% endblock %}

{% block breadcrumb %}
	{{ block.super }}
	<li><span class="bc-arrow"></span></li>
	<li><a href="#">{% trans "Users" %}</a></li>
{% endblock %}

{% block men_div_name %}nav_admin_cm_users{% endblock %}

{% block auto_refresh %}
    {% trans "Auto refresh" %} <input type="checkbox"/>
{% endblock %}

{% block box_title %}
	{% trans "Users" %}
{% endblock %}

{% block box_content %}
<script type="text/javascript">/*<![CDATA[*/
cc1.sthTable = null;

$(function() {
    var localIdKey = 'user_id';
	cc1.sthTable = cc1.makeSthTable({
		destDiv : '#item-list',
		template : '#rowTemplate',
		urlGetData : '{% url 'cma_ajax_get_table_users' %}',
		contextFun : function(itemData) {
			var items = {
		    	'user_account' 	: {name: '{% trans "User account" %}', icon: 'magnify'},
		    	'admin'	 		: {name: (itemData.is_cmadmin)?'{% trans "Unset admin" %}': '{% trans "Set admin" %}', icon: (itemData.is_cmadmin)?'cancel':'accept'}
		    };
		    return {
		        callback: function(key, options) {
		        	switch (key) {
		        		case 'user_account':
		        			location.href = "{% url 'cma_user_account' 0 %}".replace('0', itemData[localIdKey]);
		        		break;
		        		case 'admin':
		        			if (itemData.is_cmadmin) {
								cc1.sthTable.unsetAdmin(itemData[localIdKey]);
							} else {
								cc1.sthTable.setAdmin(itemData[localIdKey]);
							}
		        		break;
		        	}
		        },
		        items: items
		    };
		},
		autoRefreshTime : 60000,
		leftClickMenu : '.action_button',
		showSearchBox: true,
		overTable: '#over-table',
		enableSorting: true,
		sortingColumnIndex: 5,
		sortingDescending: true,
        idKey: localIdKey,
	});

	cc1.sthTable.s

	/* group actions */
	$.contextMenu({
        selector: '#group_action',
        trigger: 'left',
        ignoreRightClick: true,
        build: function($trigger, e) {
            return {
                callback: function(key, options) {
                    switch (key) {
                    	case 'changeQuota':
                    		if (cc1.sthTable.getListOfSelected().length) {
                				cc1.sthTable.changeQuota(null);
                			}
                		break;
                	}
                },
                items: {
                    'changeQuota'	: {name: '{% trans "Change quota" %}', icon: (cc1.sthTable.getListOfSelected().length)?'edit':'edit inactive'},
                }
            };
        }
    });
	// zmiana quoty wielu uzytkownikow/1 uzytkownika
	cc1.sthTable.changeQuota = cc1.utils.createAction({
		url: '{% url 'cma_ajax_change_quota' %}',
		dialogTitle: '{% trans "Change quota" %}',
		calculateParams: function(id) {
			return {'userids[]': cc1.sthTable.getListOfSelected(id)};
		},
	});
	// dialog dodawania nowego admina
	cc1.sthTable.setAdmin = cc1.utils.createAction({
		url: '{% url 'cma_ajax_set_admin' 0 %}',
		dialogTitle: '{% trans "Set admin" %}',
		calculateParams: function(id) {
			return {'desc': cc1.sthTable.getItemById(id).first + ' ' + cc1.sthTable.getItemById(id).last };
		},
	});
	// dialog zabierania praw admina uzytkownikowi
	cc1.sthTable.unsetAdmin = cc1.utils.createAction({
		url: '{% url 'cma_ajax_unset_admin' 0 %}',
		dialogTitle: '{% trans "Unset admin" %}',
		calculateParams: function(id) {
			return {'desc': cc1.sthTable.getItemById(id).first + ' ' + cc1.sthTable.getItemById(id).last };
		},
	});
});
/*]]>*/</script>

<div id="over-table"></div>

<table id="item-list" class="tab w100pc">
	<thead class="thead">
		<tr>
			<td class="noSort">
				<input id='select-all' type='checkbox' onclick="cc1.sthTable.toggleChecked(this.checked);" />
			</td>
			<td>{% trans "ID" %}</td>
			<td>{% trans "Username" %}</td>
			<td>{% trans "Email" %}</td>
			<td>{% trans "Name and surname" %}</td>
			<td>{% trans "Last login" %}</td>
			<td>{% trans "Activation date" %}</td>
			<td>{% trans "Points used" %}</td>
			<td class="noSort">{% trans "Actions" %}</td>
		</tr>
	</thead>
	<tbody class="tbody">
		<script id="rowTemplate" type="text/x-jquery-tmpl">
		{% verbatim2 %}
		<tr data-id="${user_id}" class="rclick">
			<td class="selecting"><input data-id="${user_id}" type="checkbox" /></td>
			<td> ${user_id} </td>
		   	<td>
		   		<a onclick='location.href = "{% url 'cma_user_account' 0 %}".replace("0", ${user_id});'>
			   		{{if is_cmadmin}}
			   			<b>${login}</b>
			   		{{else}}
			   			${login}
			   		{{/if}}
		   		</a>
		   	</td>
		   	<td>
				{{html email.escapeHTML().wbrAndLb()}}
			</td>
		   	<td>
				{{html first.escapeHTML().wbrAndLb()}}
				{{html last.escapeHTML().wbrAndLb()}}
			</td>
		   	<td> ${last_login_date} </td>
		   	<td> ${activation_date} </td>
			<td> ${used_points} / ${points}
		   		{{if used_points > points}}
		   			<span class="tableIcon warn_icon">&nbsp;</span>
				{{/if}}
		   	</td>
			<td>
				<div id="action${id}" class="action_button"></div>
			</td>
		</tr>
		{% endverbatim2 %}
		</script>
		<tr>
			<td colspan="9">
				<div class="ajax_loader1">&nbsp;</div>
			</td>
		</tr>
	</tbody>
	<tfoot class="tfoot">
		<tr>
			<td colspan="9" class="table_bottom_actions">
				<ul>
					<li id="group_action" class="icon_action">
						<a id="menu_all">{% trans "Perform for selected"%}</a>
					</li>
				</ul>
			</td>
		</tr>
	</tfoot>
</table>
{% endblock %}