Package: cc1-common-networking
Version: BUILD_NUMBER
Architecture: amd64
Bugs: mailto:cc1@cloud.ifj.edu.pl
Maintainer: Maciej Nabozny <mn@mnabozny.pl>
Depends: python-netifaces, python-netaddr, python-django, quagga, fabric
Section: cc1
Priority: optional
Homepage: http://cc1.ifj.edu.pl
Description: CC1 Common routed networking tools
