{% extends "vms/base.html" %}
{% load i18n %}
{% load formtags %}

{% block title %}{% trans "New virtual machine" %} - {{ block.super }}{% endblock %}

{% block breadcrumb %}
	{{ block.super }} 
	<li><span class="bc-arrow"></span></li>
	<li><a href="#">{% trans "New virtual machine" %}</a></li>
{% endblock %}

{% block men_div_name %}nav_create_vm{% endblock %}

{% block box_title %}
	{% trans "New virtual machine" %}
{% endblock %}

{% block help_icon %}
	{% include "snippets/help_button.html" %}
{% endblock %}

{% block help_box %}
    {% include "tutorials/create_vm.html" %}
{% endblock %}

{% block box_content %}
<script type="text/javascript">/*<![CDATA[*/

$(function() {
	var vmName = $('#id_name'),
		vmDesc = $('#id_description'),
		vmImg  = $('#id_image_id');

	$('#image-names').hide();
		
	vmImg.selectBox('value', {{ selected_image }})
		.focus()
		.change(function() {
			if ( vmImg.val() >= 0 ) {
				vmName.val( vmImg.find(":selected").text() );
				vmDesc.val( $('#image-' + vmImg.val() ).text());
			}
		});
	$(':submit').blur();
		
	if ( vmImg.val() >= 0 ) {
		if ( vmName.val() === '') {
			vmName.val( vmImg.find(":selected").text() );
		}
		if ( vmDesc.val() === '') {
			vmDesc.val( $('#image-' + vmImg.val()).text() );
		}
	}
});
/*]]>*/</script>

<form method="post" action="">
    {% csrf_token %}
	{% show_fieldsetform form %}
	
	<div id="image-names">
		{% for image_desc in image_descriptions %}
		<div id="image-{{ image_desc.0 }}">{{ image_desc.1 }}</div>
		{% endfor %}
	</div>
	
	<div class="clear"></div>
	<div id="submit-div" class="fieldset align_center">
		<input class="big_button" type="submit" name="create_show" value="{% trans "Create" %}" />
    </div>
</form>
{% endblock %}
