{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pl" xml:lang="pl">
<head>
	<title>VM: {{ vmid }}</title>
</head>
<style>
html,body{
	height: 100%;
	padding: 0;
	margin: 0;
}
</style>
<body>

{% if vnc_host != '' %}
	<applet codebase="/media/applets/vnc/" archive="{{ vnc_viewer_jar }}" code="com.glavsoft.viewer.Viewer" height="100%" width="100%">
		<param name="Port" value="{{ vnc_port }}">
		<param name="Host" value="{{ vnc_host }}">
		<param name="Password" value="{{ vnc_passwd }}">
		<param name="OpenNewWindow" value="no" />
	</applet>
{% else %}
	{% trans "Error loading VNC applet." %}
	<script type="text/javascript">/*<![CDATA[*/
		window.close();	
	/*]]>*/</script>
{% endif %}

</body>
</html>