{% extends "groups/base.html" %}
{% load i18n %}
{% load formtags %}
{% load templatetags %}

{% block title %}{% trans "My groups" %} - {{ block.super }}{% endblock %}

{% block breadcrumb %}
	{{ block.super }}
	<li><span class="bc-arrow"></span></li>
	<li><a href="#">{% trans "My groups" %}</a></li>
{% endblock %}

{% block men_div_name %}nav_my_groups{% endblock %}

{% block box_title %}
	{% trans "My groups" %}
{% endblock %}

{% block help_icon %}
	{% include "snippets/help_button.html" %}
{% endblock %}

{% block help_box %}
    {% include "tutorials/my_groups.html" %}
{% endblock %}

{% block box_content %}
<script type="text/javascript">/*<![CDATA[*/
cc1.sthTable = null;

$(function() {
    var localIdKey = 'group_id';
	cc1.sthTable = cc1.makeSthTable({
		destDiv : '#item-list',
		template : '#rowTemplate',
		urlGetData : '{% url 'grp_ajax_get_table_my' %}',
		contextFun : function(itemData) {
			var items = {
                'details' : {name: '<b>{% trans "Show details" %}</b>', icon: 'magnify'},
            };
            if (itemData.amILeader) {
            	items['sep1'] = '---------';
                items['edit'] = {name: '{% trans "Edit" %}', icon: 'edit'};
                items['delete'] = {name: '{% trans "Remove" %}', icon: 'delete'};
            }
            return {
                callback: function(key, options) {
                	switch (key) {
                		case 'details':
                			location.href='{% url 'grp_details' 0 %}'.replace('0',itemData[localIdKey]);
                		break;
                		case 'edit':
                			if (itemData.amILeader) {
                				cc1.sthTable.editMyGroup(itemData[localIdKey]);
                			}
                		break;
                		case 'delete':
                			if (itemData.amILeader) {
                				cc1.sthTable.deleteMyGroup(itemData[localIdKey]);
                			}
                		break;
                	}
                },
                items: items
            };
		},
		autoRefreshTime : 45000,
		leftClickMenu : '.action_button',
        idKey: localIdKey,
	});
	// dialog usuwania grupy swojej
	cc1.sthTable.deleteMyGroup = cc1.utils.createAction({
		url: '{% url 'grp_ajax_delete_my_group' 0 %}',
		dialogTitle: '{% trans "Delete group" %}',
		dialogClass: 'warning'
	});
	// dialog dodawania nowej grupy
	cc1.sthTable.addGroup = cc1.utils.createAction({
		url: '{% url 'grp_ajax_add_group' %}',
		dialogTitle: '{% trans "Create a new group" %}',
		dialogWidth: 500,
	});
	// dialog edycji swojej grupy
	cc1.sthTable.editMyGroup = cc1.utils.createAction({
		url: '{% url 'grp_ajax_edit_my_group' 0 %}',
		dialogTitle: '{% trans "Edit group" %}',
		dialogWidth: 500,
	});
});
/*]]>*/</script>

<table id="item-list" class="tab w100pc context_menu">
	<thead class="thead">
		<tr>
			<td>{% trans "Name" %}</td>
			<td>{% trans "Description" %}</td>
			<td>{% trans "Leader" %}</td>
			<td>{% trans "Actions" %}</td>
		</tr>
	</thead>
	<tbody class="tbody">
		<script id="rowTemplate" type="text/x-jquery-tmpl">
		{% verbatim2 %}
		<tr data-id="${group_id}" class="rclick" title="{% trans "Right click table row to open context menu." %}">
			<td>
				<a onclick="location.href='{% url 'grp_details' 0 %}'.replace('0', ${group_id});">
					{{html name.escapeHTML().wbrAndLb()}}
				</a>
			</td>
			<td class="text-justify">
				{% include "snippets/resizable_description.js" %}
			</td>
			<td> ${leader} </td>
			<td>
				<div id="action${group_id}" class="action_button"></div>
			</td>
		</tr>
		{% endverbatim2 %}
		</script>
		<tr>
			<td colspan="4">
				<div class="ajax_loader1">&nbsp;</div>
			</td>
		</tr>
	</tbody>
	<tfoot class="tfoot">
		<tr>
			<td colspan="4" class="table_bottom_actions">
				<ul>
					<li class="icon_add">
						<a onclick="cc1.sthTable.addGroup();">{% trans "Create a new group" %}</a>
					</li>
				</ul>
			</td>
		</tr>
	</tfoot>
</table>
{% endblock %}