<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pl" xml:lang="pl">
<head>
	<title>CC1 - Error 500</title>
	<link rel="stylesheet" type="text/css" media="all" href="/media/css/main.min.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/media/css/jquery.selectBox.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/media/css/jquery.contextmenu.css" />
    <link rel="shortcut icon" type="image/png" href="/media/img/favicon.ico" />
</head>
<body>
<div id="message-div"></div>

<div class="wrapper">
<div class="all">
    <div id="header">
	 	<div class="logo-img" onclick="location.href='/'" title="Home page"></div>
		<div class="language-change">
		</div>

		<ul class="over-menu-bar">
			<li><a href="/auth/login/">Login</a> | </li>
	    	<li><a href="/registration/register/">Register</a> | </li>
	    	<li><a href="/help/">Help</a> </li>
		</ul>

		<div class="topnav_left"></div>

        <ul class="topnav">
			<li class="menu-item">
				<a href="/">CC1</a>
		        <ul class="subnav">
					<li class="nav_news"><a href="/main/news/">News</a></li>
		        </ul>
			</li>

			<li class="menu-item">
				<a href="/registration/register/">Register</a></li>
			</li>
		</ul>

		<div class="topnav_right"></div>
    </div><!-- header -->

	<div id="content">
		<ul id="breadcrumb"></ul>
		<div class="clear"></div>
	 
		<div class="middle w400">
			<div class="b_greyWhiteStroke">
				<div class="TL"></div>
				<div class="BL"></div>
				<div class="TR"></div>
				<div class="BR"></div>
				<div class="b_innerContainer">
					<h2>
						Error 500
					</h2>
					<div>
	 					<p>Server error.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div> <!-- all -->
<div class="push"></div>
</div> <!-- wrapper -->

<div class="footer all align_center">
	<div class="topnav_left"></div>
    <ul class="topnav">
		<li>&copy; 2010-2013</li>
	</ul>
	<div class="topnav_right"></div>
</div>

</body>
</html>