{% extends "base_one_column.html" %}
{% load i18n %}

{% block title %}{% trans "Error" %}{% endblock %}

{% block breadcrumb %}
	{{ block.super }} 
	<li><span class="bc-arrow"></span></li>
	<li><a href="{% url 'acc_password_reset' %}">{% trans "Error sending email" %}</a></li>
{% endblock %}

{% block box_width %}w500{% endblock %}

{% block box_title %}
	{% trans "Bad email address" %}
{% endblock %}

{% block box_content %}
    <p>
    	{% trans "Error occured. Cannot send email." %}
    	<a href="#" onclick="history.back();">{% trans "Go back" %}</a>
    </p> 
{% endblock %}