{% load i18n %}
{% blocktrans %}
<p>
Images are dedicated to keep virtual machine's configuration, such as operating system, software and configs. Thats what new virtual machines are created from and existing ones are saved to. 
</p>
<p>
List of all your private images. You can:
</p>

<ul class="text-ul">
<li>create virtual machine,</li>
<li>assign to group</li>
<li>edit</li>
<li>remove</li>
</ul>

<p>
any of them.
</p>
<p>
	You can also upload your own private image, providing:
</p>

<ul class="text-ul">
	<li><b>Image name</b> (required),</li>
	<li><b>Link to image</b> - http:// or ftp:// (required),</li>
	<li><b>Image description</b> (required),</li>
	<li><b>Platform</b> (required).</li>
</ul>

{% endblocktrans %}
