{% load i18n %}
{% blocktrans %}
<p>
Images are dedicated to keep virtual machine's configuration, such as operating system, software and configs. Thats what new virtual machines are created from and existing ones are saved to.
</p>
<p>
List all your group images. You can create virtual machine of one of them.
</p>
<p>
Be aware that any private keys and other data you left on the image you share becomes available for all group members. <br />
It's strongly recommended to remove all unnecessary private keys before sharing images so that you ensure security.
</p>
{% endblocktrans %}
