{% load i18n %}
{% url 'hlp' as url_help %}
{% blocktrans %}
<p>
Here you can manage your virtual disks.
</p>
<p>
Disks are intended for storage. You need one if you are going to collect a lot of data.
</p>
<p>
You can create one that takes size according to your needs. 
Such a disk may be further attached to a virtual machine.
</p>
<p>
Note, that <b>only disks with USB or virtio bus may be attached to and detached from running VMs</b>. 
Other disks need to be attached the moment VM is being created.
</p>
<p>
Available operations:
<ul class="text-ul">
<li><b>Add new disk,</b></li>
<li><b>Edit existing disk,</b></li>
<li><b>Remove existing disk.</b></li>
</ul>
</p>
<br />
<p>
Disks are not images. Images are dedicated to keep virtual machine's configuration.
</p>
{% endblocktrans %} 
